body {
  background-color: #dfe9b4;
  background-color: #c2ce8e;
  background-color: #b8c482;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* div {
  border: 2px solid black;
} */

.spacer {
  width: 100%;
  height: 100px;
  transition: 1s;
  /* border: 2px solid black; */
}

.header-big {
  font-size: 90px;
  font-family: "Calistoga";
  transition: 1s;
}

.header-big-results {
  color: #fde24a;
  font-size: 60px;
  font-family: "Calistoga";
  white-space: pre;
  text-align: center;
  position: relative;
  right: 5%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c4a600;
  z-index: 2;
  transition: all 1s;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.header-small {
  font-size: 60px;
  font-family: "Calistoga";
  transition: 1s;
}

.dogimage {
  position: absolute;
  right: 10%;
  top: -2%;
  height: 500px;
  width: 500px;
  transition: 1s;
}

.dogimageSmall {
  position: absolute;
  top: -2%;
  right: 10%;
  height: 250px;
  width: 250px;
  transition: 1s;
}

.dogimageResults {
  position: absolute;
  height: 400px;
  width: 400px;
  opacity: 0.3;
  z-index: 1;
  transition: all 1s;
  margin-top: 50px;
}

.mainflex {
  width: 80%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  transition: 1s;

  /* border: 2px solid black; */
}

.quizButton {
  height: 32px;
  width: 185px;
}

.mainflexClick {
  width: 80%;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  transition: 1s;
  /* border: 2px solid black; */
}

.testing-realm {
  /* margin-top: 200px; */
}

.inherit{
  font-size: inherit;
}

.mainflexresults {
  width: 100%;
  height: 10%;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  /* border: 2px solid black; */
}

.start-instruction {
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 16px;
  width: 70%;
  position: absolute;
  top: 40%;
  transition: 1s;
  cursor: pointer;
}



p {
  text-align: center;
  font-family: 'Solway', serif;
  color: black;
  font-weight: bolder;
  font-size: 20px;
  margin: 16px;
}

.dogQ{
  /* margin-top:200px; */
  transition: 1s;
}

.dogQuestionBox {
  /* background-color: rgba(255, 105, 180, 0.589);
  transform: skew(20deg); */
  width: 80%;
  /* height: 500px; */
  text-align: center;
  color: black;
  font-weight: bolder;
  font-size: 19px;
  margin: 16px;
  transform: all 1s;
}


.dogQ0,
.dogQ1,
.dogQ2,
.dogQ3 {
  text-align: center;
  font-family: 'Solway', serif;
  color: black;
  font-weight: bolder;
  font-size: 20px;
  margin: 16px;
  max-width: 500px;
  overflow-wrap: break-word;
  position: relative;
  left: 0%;
  transform: rotate(0deg);
  background-color: rgb(31, 31, 31);
  color: white;
  font-weight: normal;
  min-height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  justify-content: center;
}

.triangle {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 0;
  height: 0;
  border-bottom: 18px solid #757c55;
  border-left: 18px solid #b8c482;   
}

/* .dogQ0:before,
.dogQ1:before,
.dogQ2:before,
.dogQ3:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #b8c482 #b8c482 #658E15 #658E15;
  background: #658E15;
 -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  display: block; width: 0;
} */

.dogQ0 {
transform: rotate(6deg);
position: relative;
top: 20%;
left: -3%;
}

.dogQ1 {
transform: rotate(-6deg);
position: relative;
top: 20%;
left: 57%;
}

.dogQ2 {
transform: rotate(6deg);
position: relative;
top: 20%;
left: -3%;
}

.dogQ3 {
transform: rotate(-6deg);
position: relative;
top: 20%;
left: 57%;
}

.yes-button{
  border: 2px solid rgb(31, 31, 31);
  border-radius: 4px;
  background-color: rgb(31, 31, 31);
  font-family: 'Solway', serif;
  color: white;
  font-weight: bolder;
  font-size: 40px;
  cursor: pointer;
  padding: 4px;
}

.yes-button:hover {
  background-color: #fde24a;
  color: #747c50;
  border: 2px solid #747c50;
}

.quiz {
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 16px;
    width: 70%;
    position: absolute;
    top: 30%;
    transition: 1s;
    padding: 2%;
    font-family: 'Solway', serif;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    margin: 16px;
  }

.disappear {
  height: 0px;
  width: 0px;
  transition: 1s;
  font-size: 0px;
}

.disappear2 {
  display: none
}

.answer:hover {
  background-color: #fde24a;
  user-select: none;
  cursor: pointer;
}

.prompt-screen{
  font-size: 30px;
}

.start-instruction:hover {
  background-color: #fde24abb;
  transition: 0s;
}
  
::selection {
  background: #fde24a;
}

/* .container {
  border: 2px solid black;
}

.row {
  border: 2px solid black;
} */

.picturebox {
  height: 200px;
}

.resultsbox {
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 16px;
  transition: 1s;
}

.rendereddogpic {
  max-width: 100%;
  border-radius: 16px;
}


@media screen and (max-width: 992px) {
  .dogimage,
  .dogimageSmall,
  .dogimageResults {
    opacity: 0.3;
  }
  .dogimage {
    position: absolute;
    right: -10%;
  }
  .start-instruction {
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 16px;
    width: 75%;
    position: absolute;
    top: 40%;
    
  }
  .dogQ0,
  .dogQ1,
  .dogQ2,
  .dogQ3 {
    position: relative;
    left: 0%;
    transform: rotate(0deg);
    opacity: .8;
  }
  .yes-button{
    opacity: .8;
  }
  .dogimageResults {
    height: 300px;
    width: 300px;
  }
  .prompt-screen{
    font-size: 18px;
  }
  .start-instruction {
    width: 80%;
  }
  .quiz {
    width: 80%;
  }
  .quiz-questions {
    font-size: 20px;
  }
}

